.weather {
    margin: 0px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // color: white;

    .temp-icon {

        display: flex;
        align-items: center;

        .temp-info {

            padding: 5px;

            .location {
                display: flex;
                align-items: center;
                h3 { font-size: 16px; margin-left: 10px;}
            }

            .temp {
                display: flex;
                align-items: center;

                h1 {
                    font-size: 72px;
                    margin: 0px 5px;
                }

                #button-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    #button {
                        font-size: 18px;
                        font-weight: 600;
                        max-width: 30px;
                        height: 30px;
                        padding: 0px;
                        // color: white;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    
    h1 {
        font-size: 32px;
        font-weight: 600;
    }
}